*.bat
gradlew
*.mcreator-backup_*
.mcreator/userSettings
.mcreator/localHistory/*
.mcreator/fullBackups/*

# Binary filter

*.gz
*.jar
*.bin
*.lock
*/generatorGradleCache
*$*
*.imgmeta

# folder filter

gradle/*
.gradle/*
run/*
build/*
!build/resources
.eclipse/*
havahs_adventure/.mcreator
*/modElementThumbnails/*
